<footer>
    <p>
      Projeto desenvolvido por: 
      <a
        target="_blank"
        href="https://br.linkedin.com/in/gabrielli-gallione-foga%C3%A7a-1b99b7129">Gabrielli Fogaça </a>&copy;  - Para fins educacionais.
    </p>
  </footer>