<nav>
    <ul>
        <li> <a href="/">GABFLIX</a></li>
        <li><a href="#cards">Lista</a></li>
        <li><a href="/signup">Cadastro</a></li>
    </ul>
    <header> <img src="../img/banner.jpeg" alt=""></header>

    <%- include('./search')%>
</nav>